<table class="table table-striped table-condensed">

<tr>
  <th>Name </th>
  <th>Email </th>
  <th>Action</th>
  </tr>
  {{#each this}}
  <tr>
    <td class="player">{{name}}</td>
    <td class="player">{{email}}</td>
    <td>
      <button class="btn btn-default btn_hide" >{{I18n "hide"}}</button>
    </td>
    <td>
      <button class="btn btn-default btn_show" >{{I18n "show"}}</button>
    </td>
    <td>
      <img style="display: none" height="42" width="42" class="player_logo" src={{logo}}>
    </td>
  </tr>
  {{/each}}

</table>


